---
import Layout from "../layouts/Layout.astro";
import OrganizationCard from "../components/OrganizationCard.astro";

import surveillance from "../images/global/surveillance.svg";
import socialmedia from "../images/global/social_media.svg"; 
---

<Layout title="حر يا نت">
	<main class="container m-auto">
	fff
	</main>
</Layout>

<style>

</style>
