---
---

<nav class="bg-primary dark:bg-black border-gray dark:border-white">
    <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
            <img class=" max-h-[4rem] md:max-h-[5rem]"  src="camplogo.png"/>
            
        <div class="w-full md:block md:w-auto text-xs md:text-md" id="navbar-default">
            <ul
                class="flex flex-row gap-4 justify-items-center"
            >
                <!-- <li>
                    <a
                        href="/"
                        class="block text-light rounded dark:text-white "
                        aria-current="page">عن الحملة</a>
                </li> -->
                <li>
                    <a
                        href="https://fra1.digitaloceanspaces.com/josa-api/portal/c07e581458382e588fc51c6dfc972020.pdf"
                        class="block text-light rounded dark:text-white"
                        aria-current="page">مشروع القانون</a
                    >
                </li>
                <!-- <li>
                    <a
                        href="#"
                        class="block text-light rounded dark:text-white"
                        aria-current="page">بحث</a
                    >
                </li>
                <li>
                    <a
                        href="#"
                        class="block text-light rounded dark:text-white"
                        aria-current="page">تواصل معنا</a
                    >
                </li> -->
            </ul>
        </div>
    </div>
</nav>
